snippet impa "import FOO as BAR" b
	import ${1:FOO} as ${2:BAR}

snippet from "from FOO import BAR" b
	from ${1:FOO} import ${2:BAR}

snippet dcl dataclass
	@dataclass
	class ${1:Classname}:
		${2:var_1}: ${3: type}

snippet ifmain 'if __name__ == "__main__"'
	if __name__ == "__main__":
		${1:FOO}

snippet bp "breakpoint()"
	breakpoint()
